.chart {
  margin-top: 4.5rem;
  padding: 1rem;
  padding-bottom: 0;
  box-shadow: 1px 2px 5px #92888873;
}
.recharts-responsive-container {
  /* height: 600px !important; */
  margin-top: 0.8rem;
}
.recharts-tooltip-wrapper {
  color: #333;
}
.chart__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 3.5rem;
  font-family: "monica-ext-font_YIBBBFG";
}
.recharts-xAxis {
  margin-top: 0.5rem;
}
