.sidebar {
  background: #191c24;
  box-sizing: border-box;
  position: fixed;
  top: 0;

  left: 0;
}
.sidebar__info {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1.2rem;

  align-items: center;
}
.side__title {
  align-self: flex-start;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 6px;
}
.side__profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.side__profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.side__role {
  color: #6c7293;
  font-size: 12px;
  margin-top: 6px;
}
.sidebar__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1.2rem;
  box-sizing: border-box;
}

.sidebar__menu .side__menu-nav__link {
  color: #6c7293;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: start;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 1.2rem;
  transition: 0.35s all;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.side__menu-nav__link.active {
  position: relative;
  background-color: #0f1015;
}
.side__menu-nav__link.active::after {
  content: "";
  position: absolute;
  width: 3.5px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0090e7;
}
.sidebar__menu .side__menu-nav__link:hover {
  background-color: #0f1015;
}
.side__menu-icon {
  background-color: rgba(108, 114, 147, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0.5rem;
  border-radius: 50%;
}
.side__menu-icon .MuiSvgIcon-root {
  font-size: 18px;
}
